<div id = 'text_wrapper'>
<%= link_to 'Добавить отзыв', new_comment_path if user_type == 'admin' %>

<br />
<hr />
<% @comments.each do |comment| %>
<table style = "width: 100%;">  
  <th align = 'left' colspan = 2><span style = 'font-size: 16px;'>отзыв от <%= comment.from %></span></th>
  <tr>
	<td >
		<table  style = 'width: 95%;'>
			<th align = 'left' style = 'width: 30px;'>Отзыв по <span style = 'font-size: 14px;'><%= link_to comment.product.s_name, comment.product, :title => "Перейти к #{comment.product.s_name}" %></span></th>
			<tr>
				<td>
					<%= image_tag comment.product.photo.link.thumb %>
				</td>
			</tr>
		</table>
	</td>
	<td style = 'width: 400px;'><%= link_to(image_tag(comment.link.thumb, :id => 'c_ph'), comment) %></td>
  </tr>
  <tr>
	<td colspan = 2>
		<%= link_to 'Перейти', comment %> <%= link_to 'Редактировать', edit_comment_path(comment) if user_type == 'admin' %> <%= link_to 'Удалить', comment, :method => :delete, :data => { :confirm => 'Вы уверены что хотите удалить отзыв?' } if user_type == 'admin' %>
	</td>
  </tr>
</table>
<hr />
<% end %>

</div>
<br />


