<!DOCTYPE html>
<html>
  <head>
    <meta charset='UTF-8' />
    <%= wicked_pdf_stylesheet_link_tag "pdf" %>
    <%= wicked_pdf_javascript_include_tag "number_pages" %>
    <style type = 'text/css'>
        div.alwaysbreak { page-break-before: always; }
        div.nobreak:before { clear:both; }
        div.nobreak { page-break-inside: avoid; }
        body {font-family: Arial; font-size: 10pt; margin: 0; padding: 0 0 0 1px; border: 0; outline: 0; width: 100%;}  
        table {width: 100%;}
        h3, h4 {color: #4f4f4f;}
        h1.center {text-align:center; width: 100%; font-size: 16pt;}
        .cost-field {font-size: 16pt;}
        .content-field {width: 90%; position:relative; margin-left: auto; margin-right:auto;}
        #header {padding-top: 50px; width: 100%;}
        .tb-pad-s {padding:5px 0 5px 0;}
        .tb-pad-m {padding:15px 0 15px 0;}
        .tb-pad-l {padding:25px 0 25px 0;}
        .tb-pad-xl {padding:50px 0 50px 0;}
        .black {color:black;}
        .light-gray{color: #4f4f4f;}
        a {color: #857065;}
    </style>
  </head>
  <body onload='number_pages'>
    
          <div id="header">
              <div style = "width: 100%; background-color: black; height: 180px; ">
                  <div style = "display:inline-block; padding-top: 20px; padding-left: 20px;">
                      <a href = 'http://npp-norma.ru'><img src = 'file:///<%= Rails.root %>/public/files/logo.png' width = "370px"></a>
                  </div>
                  <div style = "display:inline-block; padding-top: 10px;">
                      <img src = 'file:///<%= Rails.root %>/public/files/main_title.png' width = "280px" >
                  </div>
              </div>
              <h1 class = 'center tb-pad-l' style = 'padding-top: 150px;'>КАТАЛОГ ПРОДУКЦИИ от <%= Time.now.strftime("%d.%m.%Y") %></h1>
              <div class = 'content-field'>
              <p class = "light-gray" align = "center">
                  Данный каталог содержит актуальную информацию о характеристиках и ценах <br />выпускаемой нашим предприятием продукции.
              </p>
              </div>
              <div class = 'content-field'>
                  <table style = "position: relative; margin-top: 250px; font-size: 10pt;">
                      <tr>
                          <td style = "width: 45%;" valign = 'top'> 
                              <h4>Контакты</h4>
                               Адрес: 443080, Самарская область, г.Самара, <br />улица Санфировой д.95в<br />
                               Телефон: 8(846)99-77-524<br /> 
                               Факс: 8(846)99-77-523 <br />
                               E-mail: info@npp-norma.ru<br />
                               Сайт: <a href = "http://npp-norma.ru">npp-norma.ru</a>
                          </td>
                          <td style = "width:5%;">
                          </td>
                          <td valign = 'top'>
                              <h4>Реквизиты</h4>
                              ИНН: 6317002135; КПП: 631601001 <br />
                              расч/счет 40702810954400000612 <br /> в ОАО «Сбербанк России» г.Самара, <br />
                              БИК 043601607, кор/счет 30101810200000000607
                          </td>
                      </tr>

                  </table>
                 </div> 
          </div>
          
          
          <div id="content">
              <% @products.each do |p| %>
                <%= price_list_product_part(p) %>
                <% if !p.options.blank? %>
                    <%p.options.each do |o|%>
                        <%= price_list_product_part(o) %>
                        <% if !o.options.blank?%>
                            <%o.options.each do |so|%>
                                <%= price_list_product_part(so) %>
                            <%end%>
                        <%end%>
                    <%end%>
                <%end%>   
              <%end%>
          </div>
  </body>
</html>
