<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= my_title %></title>
    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <meta name = 'description' content = "<%= meta_description %>">
    <meta name = 'keywords' content = "<%= meta_keywords %>">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-83858871-1', 'auto');
    ga('send', 'pageview');

  </script>
  <!-- Yandex.Metrika counter -->
  <script type="text/javascript">
      (function (d, w, c) {
          (w[c] = w[c] || []).push(function() {
              try {
                  w.yaCounter20887582 = new Ya.Metrika({
                      id:20887582,
                      clickmap:true,
                      trackLinks:true,
                      accurateTrackBounce:true,
                      webvisor:true
                  });
              } catch(e) { }
          });

          var n = d.getElementsByTagName("script")[0],
              s = d.createElement("script"),
              f = function () { n.parentNode.insertBefore(s, n); };
          s.type = "text/javascript";
          s.async = true;
          s.src = "https://mc.yandex.ru/metrika/watch.js";

          if (w.opera == "[object Opera]") {
              d.addEventListener("DOMContentLoaded", f, false);
          } else { f(); }
      })(document, window, "yandex_metrika_callbacks");
  </script>
  <noscript><div><img src="https://mc.yandex.ru/watch/20887582" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
  <!-- /Yandex.Metrika counter -->
  <body>
  
              <div class="title-bar tb-pad-xs" data-responsive-toggle="responsive-menu" data-hide-for="medium">
                      <div class = 'row'>
                          <div class = 'small-12 columns tb-pad-xs'>
                              <button class="menu-icon float-left" type="button" data-toggle></button>
                              <div class="title-bar-title float-left">НПП Норма</div>
                          </div>
                      </div>
              </div>
     <div id = 'top_bar' class="top-bar">
              <div class = 'row '>
                  <div class = 'small-12'> 
                        <div id="responsive-menu" class = ''>
                              <div class="top-bar-left">
                                <ul class="dropdown menu tb-pad-xs" data-dropdown-menu>
                                  <%= drawMenu %>
                                </ul>
                              </div>
                        </div>
                      <div class="top-bar-right hide-for-small-only">
                        <ul class="menu">
                          <li><i class = 'fi-telephone'></i> 8(846)99-77-524</li>
                          <li class = 'hide-for-medium-only'><i class = 'fi-print'></i> 8(846)99-77-523</li>
                          <li><%= mail_to 'info@npp-norma.ru', "<i class = 'fi-mail'></i> info@npp-norma.ru".html_safe %></li>
                        </ul>
                      </div>
                  </div>
              </div>
     </div>

    <div id = "top" class = 'hide-for-small-only'>
        <div class = 'row'>
            <div class = 'medium-5 columns'>
                <a href = '/'><img src = '/files/logo.png' class = 'tb-pad-s'></a>
            </div>
            <div class = 'medium-6 columns'>
                <img src = '/files/main_title.png' >
            </div>
           <div class = 'medium-1 columns'>
           </div>
        </div>
    </div>
  
    <div id = "wrapper">
        <%= my_header.html_safe %>
        <% if !@subMenu.blank? %>
          <div id = 'subMenuWrapper' class = 'hide-for-small-only'>
              <div class = 'row'>
                  <div class = 'medium-11 medium-offset-1 columns'>
                      <%= @subMenu %>
                  </div>
              </div>
          </div>
        <%end%>
        <%= yield %>
        <div id = 'bOffset'>
        </div>
    </div>
    
    <div id = 'footer'> 
        <div class = 'row'>
            <div class = 'small-12 columns text-right'>
                <p>Научно-Производственное Предприятие "Норма", <%= Time.now.strftime('%Yг.') %></p>
            </div>
        </div>
    </div>  
  </body>
</html>
