<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= my_title %></title>
    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <meta name = 'description' content = "<%= meta_content %>" >
  </head>
  <body>
  
              <div class="title-bar tb-pad-xs" data-responsive-toggle="responsive-menu" data-hide-for="medium">
                      <div class = 'row'>
                          <div class = 'small-12 columns tb-pad-xs'>
                              <button class="menu-icon float-left" type="button" data-toggle></button>
                              <div class="title-bar-title float-left">НПП Норма</div>
                          </div>
                      </div>
              </div>
     <div id = 'top_bar' class="top-bar">
              <div class = 'row '>
                  <div class = 'small-12'> 
                        <div id="responsive-menu" class = ''>
                              <div class="top-bar-left">
                                <ul class="dropdown menu tb-pad-xs" data-dropdown-menu>
                                  <%= drawMenu %>
                                </ul>
                              </div>
                        </div>
                      <div class="top-bar-right hide-for-small-only">
                        <ul class="menu">
                          <li><i class = 'fi-telephone'></i> 8(846)99-77-524</li>
                          <li class = 'hide-for-medium-only'><i class = 'fi-print'></i> 8(846)99-77-523</li>
                          <li><%= mail_to 'info@npp-norma.ru', "<i class = 'fi-mail'></i> info@npp-norma.ru".html_safe %></li>
                        </ul>
                      </div>
                  </div>
              </div>
     </div>

    <div id = "top" class = 'hide-for-small-only'>
        <div class = 'row'>
            <div class = 'medium-5 columns'>
                <a href = '/'><img src = '/files/logo.png' class = 'tb-pad-s'></a>
            </div>
            <div class = 'medium-6 columns'>
                <img src = '/files/main_title.png' >
            </div>
           <div class = 'medium-1 columns'>
           </div>
        </div>
    </div>
  
    <div id = "wrapper">
        <%= my_header.html_safe %>
        <% if !@subMenu.blank? %>
          <div id = 'subMenuWrapper' class = 'hide-for-small-only'>
              <div class = 'row'>
                  <div class = 'medium-11 medium-offset-1 columns'>
                      <%= @subMenu %>
                  </div>
              </div>
          </div>
        <%end%>
        <%= yield %>
        <div id = 'bOffset'>
        </div>
    </div>
    
    <div id = 'footer'> 
        <div class = 'row'>
            <div class = 'small-12 columns text-right'>
                <p>Научно-Производственное Предприятие "Норма", <%= Time.now.strftime('%Yг.') %></p>
            </div>
        </div>
    </div>  
  </body>
</html>
